BUT: Convertir des variables strings en float

In [1]:
#étape 1 :importer le dataset
import numpy as np
import pandas as pd
data=pd.read_csv('Ethereum Historical Data.csv')
data.head()
#observation: on constate que nos données 'volume'sont sous forme de chaîne de caractère(209.22K)

         Date     Price      Open      High       Low     Vol. Change %
0  01/01/2025  3,360.14  3,337.80  3,373.11  3,315.98  209.22K    0.67%
1  12/31/2024  3,337.80  3,361.99  3,449.27  3,317.39  333.44K   -0.72%
2  12/30/2024  3,361.99  3,355.97  3,436.83  3,306.11  494.99K    0.18%
3  12/29/2024  3,355.97  3,404.53  3,412.32  3,327.45  176.43K   -1.43%
4  12/28/2024  3,404.59  3,334.23  3,427.65  3,322.42  196.38K    2.11%

In [2]:
#étape 2:créer une fonction qui va permetrre de convertir tous les nb de la colonne souhaitée
def convert_volume_to_float(volume_str):
    if isinstance(volume_str,(int,float)):
        return volume_str
    Volume_str=str(volume_str).upper().strip() #mettre en majuscule et enlever les espaces
    if 'M' in volume_str:
        return float(Volume_str.replace('M',''))*1000000#millions
    elif'K' in volume_str:
        return float(volume_str.replace('K',''))*1000#milliers
    elif'B' in volume_str:
        return float(volume_str.replace('B',''))*1000000000#données en milliards
    else:
        try:#converti driectement si aucun suffixe n'est touvé directement
            return float(volume_str)
        except ValueError:
            return np.nan #remplace les valeurs vides par Nan

EXPLICATION CLAIRE ET SIMPLE DE LA FONCTION:
    Notre fonction prend en compte un seul argument noté:'volume_str' qui est la donnée à convertir 
    la condition ''if isinstance(volume_str, (int, float)): '' vérifie si la donnée est un entier (int)ou un nombre à virgule(float) si c'est le cas elle n'a pas besoin d'être convertie
    le fonction' return volume_str' retourne les données telles qu'elles sont. Celà permet à la fonction de continuer à fonctionner même si elle reçoit des données déjà numériques des 'Nan'
    la fonction'volume_str = str(volume_str).upper().strip()' :
        Str(volume_str) s'assure que la donnée est bien une chaîne de caractère même si c'était 'None'(pas le cas) elle devient ''None''(convertie en cc)
        upper():converti toutes les lettres en majuscules :'2k' devient '2K' pour que la vérification des suffixes soit plus facile
        strip():supprime les espaces inutiles à la fin et au début des caractères
    if 'M' in volume_str: vérifie la présence du suffixe 'M' dans la chaîne de caractère
    return float(volume_str.replace('M', '')) * 1_000_000: convertit les données en millions
    .replace('M', '') : supprime la lettre'M'('1.8M' devient '1.8')
    float(...) convertit la chaîne néttoyé en nombre à virgule('1.8' devient 1.8)
    *1000000 :multiplie le nombre convertit par mille
    elif 'K' in volume_str: sinon vérifie la présence du suffixe 'k'.(cette cdt s'execute si m n'était pas présent)
    eturn float(volume_str.replace('K', '')) * 1_000: cconvertit alors les chaînes de caractère en milliers (même chose qu'au premier cas)
    elif 'B' in volume_str: sinon vérifie également la présence du suffixe 'B' et la multiplie par 1 milliard
    else: dans le cas contraire(si aucune des 3cdts précédentes n'obéit pas au code)
    try: fonction qui nous permet d'executer le code suivant au cas contraire
    return float(volume_str): convertit directement la chaîne néttoyé ou  arrangé en float(pour les données petites comme :'5,9' ;'10,5'...
    except ValueError: au cas où la nouvelle convertion échoue 
    return np.nan:nretourne Nan la fonction nous renvera la valeur:'NaN' pour signifier justement qu'il manque des données dans le dataset

In [3]:
#appliquons la conversion: 
data['Vol.']=data['Vol.'].apply(convert_volume_to_float)

explication de la dernière ligne de code:
 les données de  la colonne 'Vol.' sont sélectionnées
 la methode 'apply'(): permet de selectionner la colonne et d'appliquer un ordre donc de convertir les données une par une dans la colonne
 'convert_volume_to_float' est la fonction de conversion qui transforme les chaînes de caractère en chiffre(float)